# This service is responsible for updating the Dynu DDNS record with the current IP address
# Copy this to /etc/systemd/system/dynu.service
# This script is intended to run via systemd
[Unit]
Description=Dynu IP Monitor & Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root

StateDirectory=dynu
EnvironmentFile=/etc/conf.d/dynu-environment

ExecStart=/usr/local/bin/ip-monitor.sh

StandardOutput=journal
StandardError=journal
TimeoutSec=30

# Optional hardening (safe defaults)
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/dynu