# This timer is used to run the dynu.service
# Copy this to /etc/systemd/system/dynu.timer
[Unit]
Description=Run Dynu updater periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
